{%extends 'resources/base.html' %}
{%block title%}Home{%endblock%}
{%block styles%}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/home.css') }}"/>
{%endblock%}

{%block content%}
<div class="container-fluid">
    <div class="container-fluid row d-flex justify-content-center align-items-center">
        <div class="col-4">
            <form method="POST" class="w-100 border border-2 p-4 my-3">
                <h3>Add Task</h3>
                <ol>
                    <li>
                        {{form.title.label}}
                        {{form.title(class_="form-control")}}
                    </li>
                    <li>
                        {{form.description.label}}
                        {{form.description(class_="form-control")}}
                    </li>
                    <button type="submit" class="btn btn-success">Save</button>
                </ol>
            </form>
        </div>
        <div class="col-8   ">
            <div class="w-100 border border-2 p-4">
                <ul>
                    {%if current_user.is_authenticated%}
                    <li>Tasks from db</li>
                    {%else%}
                    <li>Tasks from session</li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </div>
</div>
{%endblock%}