{%extends 'resources/base.html' %}
{%block title%}Log In{%endblock%}
{%block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3 m-auto">
            <form method="POST" class="bg-light px-5 py-3">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="h3 text-center mb-4">Log In</div>
                <div class="form-group">
                    {{form.username.label}}
                    {{form.username}}
                </div>
                <div class="form-group">
                    {{form.password.label}}
                    {{form.password}}
                    <small class="text-center" style="font-size: 10px">
                        <a href="#">Forgot password? Click here</a>
                    </small>
                </div>
                <div class="d-flex justify-content-center mt-2 flex-column">
                    <button type="submit" class="mx-auto">Log In</button>
                </div>
            </form>
            <div style="margin-top:10px" class="d-flex flex-column align-items-center">
                <div class="text-start">
                    {% for field, errors in form.errors.items() %}
                    <div>
                        <small class="text-danger">{{ "\n".join(errors) }}</small>
                    </div>
                    {% endfor %}
                </div>
                <div class="text-start">
                    {% for error in errors %}
                    <div>
                        <small class="text-danger">{{ error }}</small>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{%endblock%}