{%with title='Register for FREE!'%}
{%include 'resources/header.html'%}
{%endwith%}
<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-3"></div>
        <div class="col-3 m-auto">
            <form method="POST" class="bg-light px-5 py-3">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="h3 text-center mb-4">Register</div>
                <div class="form-group">
                    {{form.fullname.label}}
                    {{form.fullname}}
                </div>
                <div class="form-group">
                    {{form.email.label}}
                    {{form.email}}
                </div>
                <div class="form-group">
                    {{form.username.label}}
                    {{form.username}}
                </div>
                <div class="form-group">
                    {{form.password.label}}
                    {{form.password}}
                </div>
                <div class="form-group">
                    {{form.confirm.label}}
                    {{form.confirm}}
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="mx-auto">Register</button>
                </div>
            </form>
            <div style="margin-top:10px" class="d-flex flex-column align-items-center w-25">
                <div class="text-start">
                    {% for field, errors in form.errors.items() %}
                    <div>
                        <small class="text-danger">{{ "\n".join(errors) }}</small>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
</body>
</html>